.footer {
  bottom: 0%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #faf9f5;
}

.footer > div{
  margin-left: 0.5rem;
}

.footer p {
  margin: 0;
  margin-bottom: 1%;

  color: black;
}
.f_item_box{
  display: flex;
  margin-bottom: 1rem;
}
.f_item {
  margin-right: 2%;
  display: flex;
  flex-wrap: nowrap;
}

:any-link{
  text-decoration: none;
}
.f_item a div {
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
}

.copyright{
  text-align: right;

  opacity: 0.6;
}
