/*
  白、薄いグレー、グレー、赤
  #d3d6db
  #3a4750
  #303841
  #be3144
*/
@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 999px) {
  .header {
    width: 600px;
  }
  .main {
    width: 600px;
  }
  .footer {
    width: 600px;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    width: 60%;
  }
  .main {
    width: 60%;
  }
  .footer {
    width: 60%;
  }
}

/*ヘッダー*/
.header {
  height: 10%;
  margin: 0 auto;
  display: flex;
  background-color: #303841;
}
.header div{
  width: 100%;
  padding: 0.5rem;
}
.header h1, .header p {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*コンテンツ*/
.main {
  height: 80vh;
  margin: 0 auto;

  background-color: white;
}
.main .calc form{
  margin-left: 1rem;
  margin-right: 1rem;
}
.calc Button{
  margin-left: 0.5rem;
}
.main p{
  margin: 0%;
  margin-left: 0.5rem;
}
.main form{
  display: flex;
  justify-content: space-between;
}

/*フッター*/
.footer {
  margin: 0 auto;
  background-color: white;
}
.footer > div{
  margin-left: 0.5rem;
}
.footer p {
  margin: 0;
  margin-bottom: 1%;
}
.footer .item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.footer .item a {
  text-decoration: none;
}
.footer .item a div {
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
}
.footer .item .twitter {
  margin: auto 0;
  height: 32px;
  color: #00acee;
}
